{% extends 'base.html.twig' %}

{% block title %}Créer un exercice{% endblock %}

{% block body %}
    <div class="h-full flex items-center justify-center">
        <div class="border border-black rounded mt-3 p-5 translate-middle w-2/5 bg-gradient-to-r from-slate-900 to-slate-700 text-white">
            <div class="flex justify-center mb-3">
                <p class="text-4xl">Ajouter un exercice</p>
            </div>
            {{ form_start(form) }}
            <div class="flex justify-center">
                <div class="mb-3 w-9/12">
                    <label for="name">Nom</label>
                    <br>
                    {{ form_widget(form.name, {'attr': {'class' : 'rounded w-full'}}) }}
                </div>
            </div>
            <div class="flex justify-center">
                <div class="mb-3 w-9/12">
                    <label for="exerciseType">Type</label>
                    <br>
                    {{ form_widget(form.exerciseType, {'attr': {'class' : 'rounded w-full'}}) }}
                </div>
            </div>
            <div class="flex justify-center">
                <div class="mb-3 w-9/12">
                    <label for="difficulty">Difficulté</label>
                    <br>
                    {{ form_widget(form.difficulty, {'attr': {'class' : 'rounded w-full'}}) }}
                </div>
            </div>
            <hr>
            <div class="my-3">
                <div class="flex items-center justify-center mb-3">
                    <p class="text-2xl">Muscles</p>
                </div>
                <div class="flex justify-center">
                    <div class="grid grid-cols-3 gap-4">
                        {% for muscle in form.muscles %}
                            <div class="flex items-center">
                                {{ form_widget(muscle, {'attr' : {'class': 'mr-1'}}) }}
                                {{ form_label(muscle) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>

            <div class="my-3">
                <div class="flex items-center justify-center mb-3">
                    <p class="text-2xl">Équipements</p>
                </div>
                <div class="flex justify-center">
                    <div class="grid grid-cols-3 gap-4">
                        {% for equipment in form.equipments %}
                            <div class="flex items-center">
                                {{ form_widget(equipment, {'attr' : {'class': 'mr-1'}}) }}
                                {{ form_label(equipment) }}
                            </div>
                        {% endfor %}
                        {% do form.equipments.setRendered %}
                    </div>
                </div>
            </div>

            <hr>
            <div class="my-3">

                <div class="flex items-center justify-center mb-3">
                    <p class="text-2xl">Zone du corps</p>
                </div>
                <div class="flex justify-center">
                    <div class="grid grid-cols-4 gap-4">
                        {% for bodyZone in form.bodyZones %}
                            <div class="form-check col-md-3">
                                <div class="flex items-center">
                                    {{ form_widget(bodyZone, {'attr' : {'class': 'mr-1'}}) }}
                                    {{ form_label(bodyZone) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="flex justify-center mt-3">
                <button type="submit" class="border-2 p-1 rounded">Ajouter</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
