{% extends 'base.html.twig' %}

{% block title %}Créer un exercice{% endblock %}

{% block body %}
    <div class="bg-gradient-to-r from-slate-500 to-slate-800 h-dvh">
        <div class="border border-black rounded mt-3 p-5 position-absolute top-50 start-50 translate-middle w-2/5 bg-gradient-to-r from-slate-900 to-slate-700 text-white">
            <div class="flex justify-content-center">
                <h1 class="h1">Ajouter un exercice</h1>
            </div>
            {{ form_start(form) }}
            <div class="input-group mb-3">
                <span class="input-group-text" id="name">Nom</span>
                {{ form_widget(form.name) }}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="name">Type</span>
                {{ form_widget(form.exerciseType) }}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="name">Difficulté</span>
                {{ form_widget(form.difficulty) }}
            </div>
            <h3 class="h3">Muscles</h3>
            <div class="row ms-3">
                {% for muscle in form.muscles %}
                    <div class="form-check col-md-3">
                        {{ form_widget(muscle, {'attr' : {'class': 'form-check-input'}}) }}
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ form_label(muscle) }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <h3 class="h3">Équipements</h3>
            <div class="row ms-3">
                {% for equipment in form.equipments %}
                    <div class="form-check col-md-3">
                        {{ form_widget(equipment, {'attr' : {'class': 'form-check-input'}}) }}
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ form_label(equipment) }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <h3 class="h3">Zone du corps</h3>
            <div class="row ms-3">
                {% for bodyZone in form.bodyZones %}
                    <div class="form-check col-md-3">
                        {{ form_widget(bodyZone, {'attr' : {'class': 'form-check-input'}}) }}
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ form_label(bodyZone) }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
